<ion-content class="container">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Usuarios Clientes</ion-card-title>
      <ion-card-subtitle>Aqui puedes ver a todos tus clientes, editar su información respectiva y/o
        eliminarlos</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains"
              src="https://media.licdn.com/dms/image/v2/D5603AQHGELgkbotZhg/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1683038794336?e=1735171200&v=beta&t=l_F62YfEhaBAHey85A2Jm6KysKdvAzx8XSUAzVOyZuw" />
          </ion-thumbnail>
          <ion-label>Franco Escobedo</ion-label>
          <ion-buttons slot="end">
            <ion-button id="open-modal-1" color="primary">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains"
              src="https://media.licdn.com/dms/image/v2/D4E35AQFCPKNFLUfswg/profile-framedphoto-shrink_100_100/profile-framedphoto-shrink_100_100/0/1721843334323?e=1730235600&v=beta&t=DYKF0uwKrqcXaOqgXlyIVsxD6L56mZpph9Juog-11sI" />
          </ion-thumbnail>
          <ion-label>Rodrigo Alegria</ion-label>
          <ion-buttons slot="end">
            <ion-button color="primary">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains"
              src="https://thumbs.dreamstime.com/b/hombre-de-negocios-icon-persona-inc%C3%B3gnita-desconocida-silueta-del-en-el-fondo-blanco-112802675.jpg" />
          </ion-thumbnail>
          <ion-label>Tagle Benjamin</ion-label>
          <ion-buttons slot="end">
            <ion-button color="primary">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-modal trigger="open-modal-1" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Salir</ion-button>
          </ion-buttons>
          <ion-title>Ajuste Usuario</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Guardar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input label="rut" labelPlacement="stacked" type="text" placeholder="12.345.678-9"
            [(ngModel)]="rut"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Nombre Completo" labelPlacement="stacked" type="text" placeholder="Franco Escobedo"
            [(ngModel)]="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Cantidad de Compras Realizadas" labelPlacement="stacked" type="number" placeholder="43"
            [(ngModel)]="cantidadVentas"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Cliente Activo Desde" labelPlacement="stacked" type="Date"
            [(ngModel)]="fechaRegistro"></ion-input>
        </ion-item>
        <div class="ion-margin-top">
          <ion-button expand="block" color="danger" (click)="delete()">
            Eliminar Usuario
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>