<ion-content class="container colorFondo">
  <ion-card class="colorTarjeta">
    <ion-card-header>
      <ion-card-title>Usuarios Clientes</ion-card-title>
      <ion-card-subtitle>Aquí puedes ver a todos los clientes registrados, agregar uno nuevo, editar su información y/o
        eliminarlos</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

      <!-- Botón para agregar nuevo empleado -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Agregar a Nuevo Cliente</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button expand="block" class="button-coffee"
            (click)="abrirModalNuevoCliente()">
            Crear Cliente
          </ion-button>
        </ion-card-content>
      </ion-card>


      <!-- Lista de empleados -->
      <ion-list>
        <ion-item *ngFor="let usuario of usuarios">

          <!-- Información del usuario -->
          <ion-label>
            <h2>{{ usuario.Nombre }}</h2>
            <p>Rut: {{ usuario.rut }}</p>           
            <p>Rol: {{ usuario.rol }}</p>
            <p>Fecha Registro: Fecha Actual</p>
          </ion-label>

          <!-- Contenedor de botones (uno arriba del otro) -->
          <ion-buttons slot="end" style="flex-direction: column;">            
            <!-- Botón para editar -->
            <ion-button color="primary" (click)="abrirModalEdicion(usuario)">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>

            <!-- Nuevo botón (arriba del botón de editar) -->
            <ion-button color="danger" (click)="eliminarUsuario(usuario)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>            
          </ion-buttons>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Modal para crear un producto -->
  <ion-modal [isOpen]="isModalOpen" (didDismiss)="closeModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="closeModal()">Salir</ion-button>
          </ion-buttons>
          <ion-title class="centered-title">Crear Usuario</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="crearUsuario()" [strong]="true">Guardar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="floating"></ion-label>
          <ion-input placeholder="Nombres" type="text" [(ngModel)]="nuevoClienteNombre" name="nombres" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"></ion-label>
          <ion-input placeholder="Rut sin puntos y con guion: 12345678-3" type="text" [(ngModel)]="nuevoClienteRut" name="rut" required></ion-input>
        </ion-item>

      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isEditModalOpen" (didDismiss)="closeEditModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="closeEditModal()">Salir</ion-button>
          </ion-buttons>
          <ion-title class="centered-title">Editar Usuario</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="guardarEdicion()" [strong]="true">Guardar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
  
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="floating">Nombres</ion-label>
          <ion-input [(ngModel)]="usuarioEditado.Nombres" name="nombres" required></ion-input>
        </ion-item>

      </ion-content>
    </ng-template>
  </ion-modal>
  

</ion-content>