<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>¿Qué quieres hacer?</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding colorFondo">
    <ion-list [inset]="true">
      <ion-item [button]="true" (click)="IrUsuariosAdmin()">
        <ion-icon color="warning" slot="start" name="person" size="large"></ion-icon>
        <ion-label>Ver Usuarios</ion-label>
      </ion-item>
      <ion-item [button]="true" (click)="IrMenuAdmin()">
        <ion-icon color="tertiary" slot="start" name="list-circle" size="large"></ion-icon>
        <ion-label>Ver Menú</ion-label>
      </ion-item>
      <ion-item [button]="true" (click)="IrDashboard()">
        <ion-icon color="success" slot="start" name="book" size="large"></ion-icon>
        <ion-label>Ver Dashboards</ion-label>
      </ion-item>
      <!-- <ion-item [button]="true" (click)="IrAjusteAdmin()">
        <ion-icon color="white" slot="start" name="settings" size="large"></ion-icon>
        <ion-label>Ajustes de la Cuenta</ion-label>
      </ion-item> -->
      <ion-item [button]="true" (click)="IrHome()">
        <ion-icon color="danger" slot="start" name="exit" size="large"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="centered-title">¡Bienvenido Admin!</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding colorFondo">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <div class="centrar">
            <ion-item>
              <ion-icon color="warning" slot="start" name="person" size="large"></ion-icon>
              <h1>
                Usuarios
              </h1>
            </ion-item>
          </div>
        </ion-card-title>
        <ion-card-subtitle class="ion-text-center">
          Aquí encontrarás a los usuarios de tipo empleado y los permisos que les puedes otorgar dentro de la
          aplicación, también encontrarás a los clientes registrados en el sistema</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="centrar">
          <ion-button [routerLink]="['/usuarios-admin']" color="warning" shape="round">
            <p>Ver Usuarios</p>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <div class="centrar">
            <ion-item>
              <ion-icon color="tertiary" slot="start" name="list-circle" size="large"></ion-icon>
              <h1>
                Menú
              </h1>
            </ion-item>
          </div>
        </ion-card-title>
        <ion-card-subtitle class="ion-text-center">
          Aquí puedes ver el menú, las categorías y productos dentro de las mismas,
          también podrás agregar, modificar y/o eliminar productos y categorías</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="centrar">
          <ion-button [routerLink]="['/menu-admin']" color="tertiary" shape="round">
            <p>Ir al Menú</p>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <div class="centrar">
            <ion-item>
              <ion-icon color="success" slot="start" name="book" size="large"></ion-icon>
              <h1>
                Dashboards
              </h1>
            </ion-item>
          </div>
        </ion-card-title>
        <ion-card-subtitle class="ion-text-center">
          Aquí podrás ver el producto más vendido y el total de los productos vendidos</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="centrar">
          <ion-button [routerLink]="['/dashboard']" color="success" shape="round">
            <p>Ir a Dashboards</p>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>

  </ion-content>
</div>