<ion-content class="container colorFondo">
  <ion-card class="colorTarjeta">
    <ion-card-header>
      <ion-card-title>Usuarios Empleados</ion-card-title>
      <ion-card-subtitle>Aqui puedes ver a todos tus empleados, agregar uno nuevo, editar su información respectiva y/o
        eliminarlos</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

      <ion-card (click)="abrirModalNuevoEmpleado()">
        <ion-card-header>
          <ion-card-title>Agregar a Nuevo Empleado</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-icon name="add-circle-outline" slot="start" color="success" size="large"></ion-icon>
            <ion-label>Añadir un nuevo empleado</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-list>
        
        <ion-item *ngFor="let usuario of usuarios">
          <!-- Miniatura del usuario (puedes agregar una imagen si hay disponible) -->
          <ion-thumbnail slot="start">
            <img *ngIf="usuario.Imagen" [src]="usuario.Imagen" alt="Imagen de {{ usuario.Nombres }}" />
          </ion-thumbnail>
          
          <!-- Etiquetas para mostrar los datos -->
          <ion-label>
            <h2>{{ usuario.Nombres }} {{ usuario.Apellidos }}</h2>
            <p>Rut: {{ usuario.rut }}</p>
            <p>Email: {{ usuario.Email }}</p>
            <p>Teléfono: {{ usuario.Telefono }}</p>            
            <p>Rol: {{ usuario.rol }}</p>
          </ion-label>
        
          <!-- Botón para acciones -->
          <ion-buttons slot="end">
            <ion-button (click)="abrirModal(usuario)" color="primary">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
        

      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-modal (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Salir</ion-button>
          </ion-buttons>
          <ion-title class="centered-title">
            {{ esEdicion ? 'Ajuste Usuario' : 'Crear Usuario' }}
          </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Guardar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">     
        
        <ion-item>
          <ion-input label="Nombre" labelPlacement="stacked" type="text" placeholder="Jhon"
            [(ngModel)]="nombre"></ion-input>
        </ion-item>

        <ion-item>
        <ion-input label="Apellido" labelPlacement="stacked" type="text" placeholder="Doe"
            [(ngModel)]="apellido"></ion-input>
        </ion-item> 

        <ion-item>
          <ion-input label="RUT" labelPlacement="stacked" type="text" placeholder="12.345.678-9" [(ngModel)]="rut"
            [readonly]="usuarioActual" [ngClass]="{'input-error': !validarRut(rut) && rut}">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Correo" labelPlacement="stacked" type="text" placeholder="JhonDoe@correo.com"
            [(ngModel)]="correo"></ion-input>
        </ion-item>    
        
        <ion-item>
          <ion-input label="Telefono" labelPlacement="stacked" type="text" placeholder="+569 12345678"
            [(ngModel)]="telefono"></ion-input>
        </ion-item>

        
                        
        <div class="ion-margin-top">
          <ion-button expand="block" color="danger" (click)="delete()" *ngIf="usuarioActual">
            Eliminar Usuario
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>


</ion-content>