<ion-content class="container colorFondo">
  <ion-card class="colorTarjeta">
    <ion-card-header>
      <ion-card-title>Usuarios Empleados</ion-card-title>
      <ion-card-subtitle>Aquí puedes ver a todos tus empleados, agregar uno nuevo, editar su información y/o
        eliminarlos</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

      <!-- Botón para agregar nuevo empleado -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Agregar a Nuevo Empleado</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button id="open-create-product-modal" expand="block" class="button-coffee"
            (click)="abrirModalNuevoEmpleado()">
            Crear Empleado
          </ion-button>
        </ion-card-content>
      </ion-card>


      <!-- Lista de empleados -->
      <ion-list>
        <ion-item *ngFor="let usuario of usuarios">

          <!-- Información del usuario -->
          <ion-label>
            <h2>{{ usuario.Nombres }} {{ usuario.Apellidos }}</h2>
            <p>Rut: {{ usuario.rut }}</p>
            <p>Email: {{ usuario.Email }}</p>
            <p>Teléfono: {{ usuario.Telefono }}</p>
            <p>Rol: {{ usuario.rol }}</p>
          </ion-label>

          <!-- Contenedor de botones (uno arriba del otro) -->
          <ion-buttons slot="end" style="flex-direction: column;">            
            <!-- Botón para editar -->
            <ion-button color="primary" (click)="abrirModalEdicion(usuario)">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>

            <!-- Nuevo botón (arriba del botón de editar) -->
            <ion-button color="danger" (click)="eliminarUsuario(usuario)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>            
          </ion-buttons>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Modal para crear un producto -->
  <ion-modal [isOpen]="isModalOpen" (didDismiss)="closeModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="closeModal()">Salir</ion-button>
          </ion-buttons>
          <ion-title class="centered-title">Crear Usuario</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="crearUsuario()" [strong]="true">Guardar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="floating"></ion-label>
          <ion-input placeholder="Nombres" type="text" [(ngModel)]="nuevoEmpleadoNombre" name="nombres" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"></ion-label>
          <ion-input placeholder="Apellidos" type="text" [(ngModel)]="nuevoEmpleadoApellido" name="apellidos" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"></ion-label>
          <ion-input placeholder="Rut sin puntos y con guion: 12345678-3" type="text" [(ngModel)]="nuevoEmpleadoRut" name="rut" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"></ion-label>
          <ion-input placeholder="Telefono: +56x xxxxxxxx" type="tel" [(ngModel)]="nuevoEmpleadoTelefono" name="telefono" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"></ion-label>
          <ion-input placeholder="Email: ejemplo@ejemplo.cl" type="email" [(ngModel)]="nuevoEmpleadoEmail" name="email" required></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isEditModalOpen" (didDismiss)="closeEditModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="closeEditModal()">Salir</ion-button>
          </ion-buttons>
          <ion-title class="centered-title">Editar Usuario</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="guardarEdicion()" [strong]="true">Guardar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
  
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="floating">Nombres</ion-label>
          <ion-input [(ngModel)]="usuarioEditado.Nombres" name="nombres" required></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating">Apellidos</ion-label>
          <ion-input [(ngModel)]="usuarioEditado.Apellidos" name="apellidos" required></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input [(ngModel)]="usuarioEditado.Telefono" name="telefono" required></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="usuarioEditado.Email" name="email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Tipo</ion-label>
          <ion-select [(ngModel)]="usuarioEditado.rol" name="rol" required>
            <ion-select-option value="Empleado">Empleado</ion-select-option>
            <ion-select-option value="Admin">Admin</ion-select-option>
          </ion-select>
        </ion-item>
        

      </ion-content>
    </ng-template>
  </ion-modal>
  

</ion-content>