<ion-content class="container">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Usuarios Empleados</ion-card-title>
      <ion-card-subtitle>Aqui puedes ver a todos tus empleados, editar su información respectiva y/o
        eliminarlos</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains"
              src="https://media.licdn.com/dms/image/v2/D5603AQHGELgkbotZhg/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1683038794336?e=1735171200&v=beta&t=l_F62YfEhaBAHey85A2Jm6KysKdvAzx8XSUAzVOyZuw" />
          </ion-thumbnail>
          <ion-label>Alejandro Escobedo</ion-label>
          <ion-buttons slot="end">
            <ion-button color="primary">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains"
              src="https://media.licdn.com/dms/image/v2/D4E35AQFCPKNFLUfswg/profile-framedphoto-shrink_100_100/profile-framedphoto-shrink_100_100/0/1721843334323?e=1730235600&v=beta&t=DYKF0uwKrqcXaOqgXlyIVsxD6L56mZpph9Juog-11sI" />
          </ion-thumbnail>
          <ion-label>Nicolas Moreno</ion-label>
          <ion-buttons slot="end">
            <ion-button color="primary">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains"
              src="https://thumbs.dreamstime.com/b/hombre-de-negocios-icon-persona-inc%C3%B3gnita-desconocida-silueta-del-en-el-fondo-blanco-112802675.jpg" />
          </ion-thumbnail>
          <ion-label>Benjamin Tagle</ion-label>
          <ion-buttons slot="end">
            <ion-button color="primary">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains"
              src="https://media.licdn.com/dms/image/v2/D4E03AQEbUPPNidVxEQ/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1688339937942?e=1735171200&v=beta&t=eVSHXTJipM-iOTR_iH8Gbvu-xifT5o7ybGjJpfgICbg" />
          </ion-thumbnail>
          <ion-label>Alvaro Mellado</ion-label>
          <ion-buttons slot="end">
            <ion-button color="primary">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>