.container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

ion-card{
  --background: #faebd7;
}

.button-coffee {
  --background: #6F4E37; /* Color café */
  color: #ffffff; /* Color de texto */
}
ion-thumbnail img {
  border-radius: 8px; /* Redondea las esquinas */
  object-fit: cover; /* Ajusta la imagen a su contenedor */
  width: 50px; /* Ajusta el tamaño según tus necesidades */
  height: 50px; /* Ajusta el tamaño según tus necesidades */
}
.preview-image {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
