<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-item [button]="true" (click)="IrInicioAdmin()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-item>
      </ion-buttons>
      <ion-title class="centered-title">¡Bienvenido al Dashboard!</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="colorFondo">
    <!-- Selector de tipo de gráfico -->
    <ion-item>
      <ion-label>Seleccione el gráfico que desee ver</ion-label>
    </ion-item>
    <ion-item>
      <ion-select [(ngModel)]="chartType" (ionChange)="onChartTypeChange($event)">
        <!-- <ion-select-option value="productoMasVendido">Producto Más Vendido por Categoría</ion-select-option> -->
        <ion-select-option value="productoMasVendidoGeneral">Producto Más Vendido</ion-select-option>
        <!-- <ion-select-option value="totalPorCategoria">Total Vendidos por Categoría</ion-select-option> -->
        <ion-select-option value="totalVendidos">Total de Productos Vendidos</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Gráfico dinámico -->
    <ion-card class="colorTarjeta">
      <ion-card-header>
        <ion-card-title>Gráficos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas #barChart></canvas>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>