<ion-content [fullscreen]="true" class="colorFondo">
  <div class="container">
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>
          <h1>
            ¡Bienvenido!
          </h1>
        </ion-card-title>
        <ion-card-subtitle>
          Ingrese sus credenciales para entrar al sistema
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item class="ion-text-center">
          <ion-input [(ngModel)]="username" placeholder="Nombre de Usuario"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-input [(ngModel)]="password" [type]="passwordType" placeholder="Contraseña"
            class="ion-text-center"></ion-input>
          <ion-icon [name]="passwordIcon" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
        </ion-item>
        <br>
        <ion-card-subtitle>
          <ion-checkbox>Recordarme</ion-checkbox>
        </ion-card-subtitle>
        <br>
        <ion-button color="dark" (click)="login()">
          Ingresar
        </ion-button>
        <br>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>